# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: luminous-ui Build & Test

on:
  push:
    branches: [ main ]

jobs:
  build-test:
    name: Build & Test
    
    runs-on: ubuntu-latest

    env:
      REACT_APP_API_URI: ${{ secret.REACT_APP_API_URI }}
    
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - run: npm install
    - run: npm run test:ci

    - name: Publish Test Report
      uses: dorny/test-reporter@v1
      if: success() || failure()    # run this step even if previous step failed
      with:
        name: Test Report          
        path: junit.xml            
        reporter: jest-junit    

    - run: npm run build

    - name: Publish Artifacts
      uses: actions/upload-artifact@v2
      with:
        path: ./build
